.titulo{
    background-color: aquamarine;
}
.contenedor{
    width: 100%;
    height: 31%;
    background-color: white;
    display: flex;
}
.menu{
    width: 100%;
    height: 100%;  
    display: flex;  
    flex-direction: row;
}
.c-0{
    width: 100%;
    background-image: url("./img/descarga.png");
    background-repeat: no-repeat;
}
.c-1{
    width: 18%;
}
.c-2{
    width: 18%;
}
.c-3{
    width: 18%; 
}
.c-4{
    width: 18%;
}
.centro{
    width: 100%;
    height: 95%;
    background-color: brown;
    display: flex;
}
.parrafo{
    width: 50%;
    height: 100%;
    background-color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16;
    font-style: italic;
}
.img{
    width: 50%;
    height: 100%;
    background-image: url(./img/92470731_115590870097975_4320065933826588672_n.jpg);
}
